[submodule "lib/ESP32Servo"]
	path = lib/ESP32Servo
	url = git@github.com:jkb-git/ESP32Servo.git
[submodule "lib/ESP32-BLE-Keyboard"]
	path = lib/ESP32-BLE-Keyboard
	url = git@github.com:T-vK/ESP32-BLE-Keyboard.git
